* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inter;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color-scheme: dark;
  background: #090B0B;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
label {
  color: #feffea;
  font-size: 64px;
  font-weight: 900;
  word-break: break-word;
}

p {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 999px) {

  h1,
  label {
    font-size: 38px;
  }

  p {
    font-size: 14px;
  }
}

label {
  display: flex;
  align-items: center;
  transition: ease 150ms;
}

ul {
  max-width: 100%;
  width: 100%;
  max-height: 78vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

ul li {
  all: unset;
  display: flex;
  align-items: center;
  padding-bottom: .6rem;
  position: relative;
  width: fit-content;
}

.form-holder {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

form {
  background: #090B0B60;
  backdrop-filter: blur(12px);
  min-width: 100%;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

input {
  border: 2px solid #feffea;
  padding: .6rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-radius: 50px;
  background: none;
  font-size: 14px;
  cursor: pointer;
  transition: linear 150ms;
}

input[type="checkbox"] {
  position: absolute;
  display: inline-block;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

input[type="checkbox"]:hover+label {
  color: #38618C;
  transition: ease 250ms;
}

input[type="checkbox"]:checked+label {
  color: #5BC3EB;
  transition: ease 150ms;
}

::placeholder {
  color: #feffeaa8;
}

button,
.btn-delete {
  margin-left: .2rem;
  border: 2px solid #feffea;
  padding: .3rem;
  padding-left: .45rem;
  padding-right: .45rem;
  margin-right: 1rem;
  border-radius: 50px;
  color: #feffea;
  background: transparent;
  font-size: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: linear 150ms;
  height: 10%;
}

.btn-delete:hover {
  background: #feffea;
  color: #090B0B;
  transition: linear 150ms;
}

button {
  background: #feffea;
  color: #090B0B;
  font-size: 18px;
  padding: .4rem;
  padding-left: .65rem;
  padding-right: .65rem;
  margin-left: .4rem;
  margin-right: 0rem;
}

button:hover {
  background: none;
  color: #feffea;
  transition: linear 150ms;
}